@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    background-color: #000000;
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #c3c3c3c3;
  }
  ::-webkit-scrollbar-thumb {
    background: #f52e2e;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #c21717;
  }
